body {
  margin: auto;
}

#container {
  margin: auto;
}
#centerContainer { 
  width: 1000px;
  text-align: left;
  margin: 0px auto; 
}


#svg-wrap {
  margin: 10px;
}

svg {
  cursor: crosshair;
  display: block;
  margin: auto;
  border: 2px solid #000000;
}

.title {
  font: bold 30px sans-serif;
}

.edge {
  stroke: #000000;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: default;
}

.edge:hover {
  stroke: #bb2323;
}
.dragLine {
  stroke: #242424;
  stroke-width: 4px;
}

.vertex {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 2px;
}

.vertex:hover {
  stroke: #445400;
  stroke-width: 4px;
}

.dragLine.hidden {
  stroke-width: 0;
}

.switch {
  position: relative;
  display: inline-block;
  top: 14px;
  width: 120px;
  height: 34px;
 }
 
 .switch input {
  display: none;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #843f80;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  border: #000000;
 }
 
 .slider:before {
  border-width: 4px;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 }
 
 input:checked + .slider {
  background-color: #447d4a;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(85px);
 }
 
 .slider:after {
  content: 'BFS';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
  content: 'DFS';
 }
table {
  border-collapse: collapse;
  margin: 10px;
  position: fixed;
  top: 52%;
  left: 76%;
  background-color: rgb(233, 215, 247)
}
.adjacency-table {
  border-collapse: collapse;
  /* Add additional styles as needed */
}

.adjacency-table td {
  padding: 5px 10px;
  border: 1px solid #ccc;
  /* Add additional styles as needed */
}